* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

h1, h2 {
    text-align: center;
}
nav {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #e50914;
}
#inicio {
    background-color: #222;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

#inicio h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

#inicio p {
    font-size: 18px;
}
#series {
    padding: 60px 8%;
}

#series h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.serie {
    background-color: white;
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0002;
}

.serie h2 {
    color: #e50914;
    margin-bottom: 15px;
}

.serie p {
    line-height: 1.6;
    margin-bottom: 10px;
}
.serie {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.serie:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px #0003;
}